DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=soccer_platform
DB_CONNECTION_LIMIT=10

PORT=3000
NODE_ENV=development

JWT_SECRET=change-this-secret-in-production


OCI_TENANCY=ocid1.tenancy.oc1..
OCI_USER=ocid1.user.oc1..
OCI_FINGERPRINT=
OCI_PRIVATE_KEY=
OCI_REGION=ap-singapore-1